@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #FAFAFA;
}

body * {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #F5F5F5;
}

.title {
    height: 64px;
    line-height: 64px;
    text-align: center;
}

.title>h1 {
    color: #9C27B0;
}

.card {
    box-shadow: 0px 1px 5px;
}

.input {
    border: 2px solid rgba(0, 0, 0, 0.38);
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

.input:focus {
    outline: none;
    border: 2px solid #9C27B0;
}

.btn {
    background-color: #9C27B0;
    color: white;
    border: 2px solid #9C27B0;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
    background-color: white;
    color: #9C27B0;
    border: 2px solid #9C27B0;
    cursor: pointer;
}

.login-form {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    text-align: center;
    border: 0;
}

.login-form__input {
    width: 500px;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 30px;
}

.login-form-signin {
    width: 500px;
    height: 80px;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.login-form-signup {
    width: 500px;
    height: 50px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.login-form-signup:hover {
    color: #9C27B0;
}
